<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991082355098-mdodtrptap2ag2846c3ibbhsh3tfpkii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991082355098-mdodtrptap2ag2846c3ibbhsh3tfpkii</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>991082355098-f4ed0njl43da9ofa3u8b9be059cui231.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHUeTR4jlC-0oC1NhQNUzULxqAqY9g-kM</string>
	<key>GCM_SENDER_ID</key>
	<string>991082355098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kypi.studio.aura.pyxis.mobile</string>
	<key>PROJECT_ID</key>
	<string>pyxis-effb6</string>
	<key>STORAGE_BUCKET</key>
	<string>pyxis-effb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991082355098:ios:3241ce9fa0c0989e330223</string>
</dict>
</plist>